body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select {
	margin: 0;
	padding: 0;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
ul {
	list-style: none;
}
li {
	float: left;
}
a:link, a:visited {
	text-decoration: none;
}
.clear{
	clear:both;}
.wrap{
	width:1200px;
	min-height:100px;
	padding-bottom:10px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border:1px solid #eee;
	background:#fcfcfc;
	margin:0 auto;}
.fileBtn{
	display:none;}
.btn1{
	display:inline-block;
	width:88px;
	height:34px;
	color:#fff;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background:#00b7ef;
	font:16px/34px microsoft yahei,simhei;
	text-align:center;
	}
.btn2{
	width:82px;
	height:34px;
	display:inline-block;
	position:relative;
	top:-2px;
	}
.btnBox{
	padding-left:20px}
.filesName{
	padding:20px;
	font-weight:bold;
	}
.uploadState{
	padding-left:20px;
	padding-bottom:20px;
	font-weight:normal;
	color:#f60;
	}